.tag {
    font-size: var(--text-xs);
    font-family: var(--font-mono);
    color: var(--text-secondary);

    text-decoration: none;

    border: 1px solid var(--text-secondary);
    border-radius: 4px;
    padding: 0 var(--size-2);

    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }
}

.post-heading {
    margin-block-end: var(--size-2);
}

.post-card {
    margin-block-start: var(--size-4);
    margin-block-end: var(--size-10-fluid);
}

.post-date {
    font-size: var(--text-s);
    color: var(--text-secondary);
}

.post-tags a:hover,
a:focus {
    text-decoration: none;
}

.post-metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--size-4);
    margin-block-start: var(--size-1);
    margin-block-end: var(--size-4);
}
