/*h1 {
    font-size: var(--font-size-8);
}

h2 {
    text-transform: uppercase;
    font-size: var(--font-size-1);
    color: var(--text-secondary);
    letter-spacing: var(--font-letterspacing-5);
    margin-block-end: var(--size-3);
}

h3 {
    font-size: var(--font-size-5);
    margin-block-start: var(--size-10);
    margin-block-end: var(--size-8);
    max-inline-size: var(--max-text-length);
    font-weight: var(--font-weight-6);
    letter-spacing: var(--font-letterspacing-0);
}

h4 {
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-4);
    margin-block-start: var(--size-8);
    margin-block-end: var(--size-3);
}



.intro {
    font-size: var(--font-size-4);
}*/

h1 {
    font-size: 56px;
    font-weight: 500;
    text-wrap: pretty;
}

h2 {
    font-size: 24px;
    text-wrap: pretty;
    max-inline-size: var(--max-text-length);
    margin-block-start: 72px;
    margin-block-end: 16px;
    font-weight: 500;
}

h3 {
    font-size: 20px;

    max-inline-size: var(--max-text-length);
    font-weight: 600;
    margin-block-start: 72px;
    margin-block-end: 16px;
}

p {
    font-size: var(--text-base);
    line-height: 1.6;
    font-weight: var(--font-weight-normal);
    margin-block-end: 32px;
    text-wrap: pretty;
    max-inline-size: var(--max-text-length);
}

/*img {
    max-width: min(
        67.5rem,
        94vw
    );
    width: min(67.5rem, 94vw);

    height: auto;
    margin-block: var(--size-12);
    border-radius: var(--size-px-2);
    box-shadow: var(--shadow-1);
}*/

/*.hero img {
    width: 100%;
}*/

img {
    height: auto;
}

li {
    margin-block-end: var(--size-3);
}

ul {
    margin-block-start: -16px;
    margin-block-end: 40px;
}
