/*h1 {
    font-size: var(--font-size-8);
}

h2 {
    text-transform: uppercase;
    font-size: var(--font-size-1);
    color: var(--text-secondary);
    letter-spacing: var(--font-letterspacing-5);
    margin-block-end: var(--size-3);
}

h3 {
    font-size: var(--font-size-5);
    margin-block-start: var(--size-10);
    margin-block-end: var(--size-8);
    max-inline-size: var(--max-text-length);
    font-weight: var(--font-weight-6);
    letter-spacing: var(--font-letterspacing-0);
}

h4 {
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-4);
    margin-block-start: var(--size-8);
    margin-block-end: var(--size-3);
}



.intro {
    font-size: var(--font-size-4);
}*/

h1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl-line-height);
    font-weight: var(--font-weight-light);
}

h2 {
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
    font-weight: var(--font-weight-normal);

    text-wrap: pretty;
    max-inline-size: var(--max-text-length);
}

h3 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl-line-height);
    /*margin-block-start: var(--size-10);
    margin-block-end: var(--size-8);*/
    max-inline-size: var(--max-text-length);
    font-weight: var(--font-weight-semilight);
    margin-block-start: var(--size-13);
}

h4 {
    font-size: var(--text-lg);
    line-height: var(--text-lg-line-height);
    font-weight: var(--font-weight-normal);
    margin-block-start: var(--size-12);
}

p {
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
    font-weight: var(--font-weight-normal);

    text-wrap: pretty;
    max-inline-size: var(--max-text-length);
}

img {
    max-width: min(
        67.5rem,
        94vw
    ); /* 900px or viewport width, whichever is smaller */
    width: min(67.5rem, 94vw);

    height: auto;
    margin-block: var(--size-12);
    border-radius: var(--size-px-2);
    box-shadow: var(--shadow-1);
}

.hero img {
    width: 100%;
}
