:where(html) {
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200: hsl(60, 33.33%, 98.24%);
    --neutral-300: hsl(55, 28.57%, 91.76%);
    --neutral-400: hsl(60, 33.33%, 95.88%);
    --neutral-500: hsl(240, 5.03%, 64.9%);
    --neutral-600: hsl(0, 0%, 56.47%);
    --neutral-700: hsl(0, 0%, 40%);
    --neutral-800: hsl(0, 0%, 13.33%);
    --neutral-900: hsl(210, 11.11%, 3.53%);

    --blue-200: hsl(194.81, 55.1%, 71.18%);
    --blue-400: hsl(195.11, 54.22%, 51.18%);
    --blue-500: hsl(195, 53.61%, 38.04%);
    --blue-600: hsl(195, 55.56%, 21.18%);

    /* Light and dark modes */
    /* light */
    --brand-primary-light: #6226f2;
    --brand-secondary-light: var(--blue-600);

    --background-primary-light: var(--neutral-200);
    --background-secondary-light: var(--neutral-300);
    --surface-light: var(--neutral-400);
    --text-primary-light: var(--neutral-900);
    --text-secondary-light: var(--neutral-700);
    --text-soft-light: var(--neutral-600);
    --border-light: var(--neutral-700);
    --shadow-color: var(--neutral-500);

    /*dark*/
    --brand-primary-dark: #e4f223;
    --brand-secondary-dark: var(--blue-200);

    --background-primary-dark: var(--neutral-900);
    --background-secondary-dark: var(--neutral-800);
    --surface-dark: var(--neutral-500);
    --text-primary-dark: var(--neutral-200);
    --text-secondary-dark: var(--neutral-500);
    --text-soft-dark: var(--neutral-600);
    --border-dark: var(--neutral-300);
    --shadow-color: var(--neutral-900);

    /* color schemes */
    color-scheme: light;

    /* set defaults */
    --brand-primary: var(--brand-primary-light);
    --brand-secondary: var(--brand-secondary-light);
    --accent-primary: var(--accent-primary-light);
    --accent-secondary: var(--accent-secondary-light);
    --background-primary: var(--background-primary-light);
    --background-secondary: var(--background-secondary-light);
    --surface: var(--surface-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --text-soft: var(--text-soft-light);
    --border: var(--border-light);

    @media (prefers-color-scheme: dark) {
        --brand-primary: var(--brand-primary-dark);
        --brand-secondary: var(--brand-secondary-dark);
        --accent-primary: var(--accent-primary-dark);
        --accent-secondary: var(--accent-secondary-dark);

        --background-primary: var(--background-primary-dark);
        --background-secondary: var(--background-secondary-dark);
        --surface: var(--surface-dark);
        --text-primary: var(--text-primary-dark);
        --text-secondary: var(--text-secondary-dark);
        --text-soft: var(--text-soft-dark);
        --border: var(--border-dark);
    }

    [data-theme="light"] {
        color-scheme: light;

        --brand-primary: var(--brand-primary-light);
        --brand-secondary: var(--brand-secondary-light);
        --accent-primary: var(--accent-primary-light);
        --accent-secondary: var(--accent-secondary-light);
        --background-primary: var(--background-primary-light);
        --background-secondary: var(--background-secondary-light);
        --surface: var(--surface-light);
        --text-primary: var(--text-primary-light);
        --text-secondary: var(--text-secondary-light);
        --border: var(--border-light);
    }

    [data-theme="dark"] {
        color-scheme: dark;

        --brand-primary: var(--brand-primary-dark);
        --brand-secondary: var(--brand-secondary-dark);
        --accent-primary: var(--accent-primary-dark);
        --accent-secondary: var(--accent-secondary-dark);
        --background-primary: var(--background-primary-dark);
        --background-secondary: var(--background-secondary-dark);
        --surface: var(--surface-dark);
        --text-primary: var(--text-primary-dark);
        --text-secondary: var(--text-secondary-dark);
        --border: var(--border-dark);
    }
}
