@import "typography.css";
@import "sizes.css";
@import "layout.css";
@import "colors.css";
@import "shadows.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-sans);
    background: var(--background-primary);
    /*padding-inline: 16px;*/
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;

    /*padding-inline: var(--size-fluid-3);*/
    /*
    @media (width < 500px) {
        padding: 1rem;
    }*/
}

main::before {
    --size: 32px;
    --line: color-mix(in hsl, canvasText, transparent 90%);
    content: "";
    height: 90vh;
    width: 100vw;
    position: fixed;
    background:
        linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50%
            50% / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
            var(--size) var(--size);

    mask: linear-gradient(20deg, transparent 50%, white);
    /*mask: radial-gradient(
        ellipse 70% 60% at 50% 0%,
        #000 60%,
        transparent 100%

    );*/

    /*mask: radial-gradient(
        ellipse 80% 80% at 100% 0%,
        #000 50%,
        transparent 100%
    );*/
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
}

main {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background: var(--background-primary);
    max-width: var(--max-width);
    margin-inline: auto;
    padding-block-end: var(--size-12-fluid);
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}
