:where(html) {
    --max-width: 96rem;
    --max-text-length: 60ch;

    .sidebarLayout {
        &.layout {
            display: grid;
            gap: var(--size-fluid-3);
            grid-template-columns: 4fr 1fr;
            @media (max-width: 50rem) {
                grid-template-columns: 1fr;
            }

            &.sidebar {
                grid-column: 2;

                @media (max-width: 50rem) {
                    display: none;
                }
            }
        }
    }
}
