:where(html) {
    --wrapper-wide: 85rem;
    --wrapper-medium: 67.5rem;
    --max-text-length: 60ch;

    .theme-toggle {
        position: fixed;
        bottom: var(--size-3);
        right: var(--size-3);
    }

    .wrapper-wide {
        max-width: var(--wrapper-wide);
        margin: 0 auto;
        padding-inline: 16px;
    }

    .wrapper-medium {
        max-width: var(--wrapper-medium);
        margin: 0 auto;
        padding-inline: 16px;
    }

    /*Page Layouts*/

    .sidebarLayout {
        .main-content {
            display: grid;

            grid-template-columns: 2fr 1fr;

            @media (max-width: 50rem) {
                grid-template-columns: 1fr;
            }
        }

        article {
            grid-column: 1;
        }
        aside {
            grid-column: 2;

            @media (max-width: 50rem) {
                display: none;
            }
        }
    }

    .cardLayout {
        display: grid;
        gap: var(--size-3);
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    }
}
