header,
footer {
  width: 100%;
  padding-inline: 0;
  margin-inline: 0;
}

header {
  padding-block-start: var(--size-5);
}

nav,
.bottom-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-3);
  max-width: var(--max-width);
  margin-inline: auto;

  a {
    text-decoration: none;
    color: var(--text);
    font-size: var(--text-s);
    font-weight: var(--font-weight-medium);
  }

  a:hover,
  a:focus {
    color: var(--text-brand);
    text-decoration: none;
  }
}
.pageLinks,
.socialLinks,
.trailing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-2);
}

@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .pageLinks {
    display: flex;
    flex-direction: column;
  }
}
