h1 {
  margin-block-end: var(--size-12);
}

h2 {
  margin-block-start: var(--size-13-fluid);
  margin-block-end: var(--size-6-fluid);
}

h3 {
  margin-block-start: var(--size-10-fluid);
  margin-block-end: var(--size-5);
}

p {
  margin-block-end: var(--size-4);
  font-size: var(--text-xl);
  line-height: var(--text-xl-line-height);
}

img {
  height: auto;

  --s: 30px; /* the size on the corner */
  --t: 2px; /* the thickness of the border */
  --g: 5px; /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid var(--corner); /* the color here */
  outline-offset: -5px;
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;

  margin-block: var(--size-12-fluid);
}

li {
  margin-block-end: var(--size-3);
}

ul {
  margin-block-start: -16px;
  margin-block-end: 40px;
}

.case-study-image-lg {
  border-radius: 8px;
  margin-block: var(--size-10-fluid);
  width: var(--wrapper-medium);
  height: auto;
}

.case-study-image-md {
  border-radius: 8px;
  margin-block: var(--size-10-fluid);
  width: var(--max-text-length);
  height: auto;
}

.video {
  margin-block: var(--size-10-fluid);
  width: var(--max-text-length);
  height: auto;
}
