@import "@fontsource-variable/instrument-sans";
@import "@fontsource-variable/figtree/wght.css";
@import "@fontsource-variable/albert-sans/wght.css";
@import "@fontsource/space-grotesk/400.css";
@import "@fontsource/space-grotesk/500.css";
@import "@fontsource/space-grotesk/700.css";

:where(html) {
  --font-sans: "Albert Sans Variable", Avenir, Montserrat, Corbel, URW Gothic,
    source-sans-pro, sans-serif;
  --font-accent: "Space Grotesk", "Albert Sans Variable", sans-serif;
  --font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace,
    SF Mono, Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code, Menlo,
    Consolas, DejaVu Sans Mono, monospace;

  --text-xxs: 0.7rem;
  --text-xxs-line-height: 1.225rem;

  --text-xs: 0.875rem;
  --text-xs-line-height: 1.225rem;

  --text-s: 1rem;
  --text-s-line-height: 1.5rem;

  --text-base: 1.125rem;
  --text-base-line-height: 1.625rem;

  --text-lg: 1.25rem;
  --text-lg-line-height: 2rem;

  --text-xl: clamp(1rem, 0.8466rem + 0.6818vw, 1.375rem);
  --text-xl-line-height: clamp(1.5rem, 1.2955rem + 0.9091vw, 2.12rem);

  --text-2xl: clamp(1.125rem, 0.9205rem + 0.9091vw, 1.625rem);
  --text-2xl-line-height: clamp(1.625rem, 1.4205rem + 0.9091vw, 2.125rem);

  --text-3xl: clamp(1.5rem, 1.1932rem + 1.3636vw, 2.25rem);
  --text-3xl-line-height: clamp(2rem, 1.7188rem + 1.25vw, 2.6875rem);

  /*--text-4xl: clamp(2rem, 6.9vw - 0.25rem, 3.5rem);
    --text-4xl-line-height: clamp(2.7rem, 6.9vw - 0.25rem, 3.7rem);
    --text-5xl: 4rem;
    --text-5xl-line-height: 4.25rem;*/

  --font-weight-light: 200;
  --font-weight-semilight: 300;
  --font-weight-normal: 400;
  --font-weight-caption: 430;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-letterspacing-0: -0.05em;
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.05em;
  --font-letterspacing-3: 0.075em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.25em;
  --font-letterspacing-6: 0.5em;
  --font-letterspacing-7: 1em;

  h1,
    h2,
    h3,
    h4,
    h5,
    h6 /* FUTURE :heading */ {
    text-wrap: balance;
  }

  h2 + h3 {
    margin-block-start: 0;
  }

  h1 {
    font-family: var(--font-accent);
    font-size: var(--text-3xl);
    line-height: var(--text-3xl-line-height);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.03em;
    margin-block-start: clamp(1.5rem, -2.4886rem + 17.7273vw, 11.25rem);
    /*margin-block-start: 10rem;*/
    margin-block-end: var(--size-12);
  }

  h2 {
    font-family: var(--font-accent);
    font-size: var(--text-2xl);
    line-height: var(--text-2xl-line-height);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.01em;
    max-inline-size: var(--max-text-length);
  }

  h3 {
    font-family: var(--font-accent);
    font-size: var(--text-lg);
    line-height: var(--text-lg-line-height);
    font-weight: var(--font-weight-medium);
    max-inline-size: var(--max-text-length);
  }

  p {
    font-size: var(--text-base);
    line-height: var(--text-base-line-height);
    font-weight: var(--font-weight-normal);
    max-inline-size: var(--max-text-length);
    text-wrap: pretty;
  }

  .eyebrow {
    font-family: var(--font-accent);
    font-size: var(--text-s);
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
    color: var(--text-soft);
  }

  li,
  dd {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-wrap: pretty;
    max-inline-size: var(--max-text-length);
  }

  ul,
  ol,
  dl {
    margin: 0;
    padding: 0;
    list-style: outside;
    padding-inline-start: 3ch;
  }

  a {
    color: inherit;
    font-size: inherit;
    text-decoration: underline 1px var(--text-soft);
    text-underline-offset: var(--size-1);
    -webkit-text-decoration: underline var(--brand-primary);
    -webkit-text-underline-offset: var(--size-1);
  }

  a:hover,
  a:focus {
    /*color: var(--brand-primary);*/
    text-decoration: underline 2px;
  }

  input,
  select,
  textarea,
  button {
    font: inherit;
    font-size: inherit;
    /* FUTURE: appearance: base; */
  }
}
