@import "@fontsource-variable/instrument-sans";

@import "@fontsource-variable/albert-sans/wght.css";

:where(html) {
    --font-sans:
        "Albert Sans Variable", Avenir, Montserrat, Corbel, URW Gothic,
        source-sans-pro, sans-serif;
    --font-mono:
        Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono,
        Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code, Menlo,
        Consolas, DejaVu Sans Mono, monospace;

    --text-xs: 0.875rem;
    --text-xs-line-height: 1.25rem;
    --text-s: 1rem;
    --text-s-line-height: 1.5rem;
    --text-base: 1.125rem;
    --text-base-line-height: 1.8rem;
    --text-medium: 1.25rem;
    --text-medium-line-height: 1.9rem;
    --text-lg: 1.5rem;
    --text-lg-line-height: 2rem;
    --text-xl: 1.875rem;
    --text-x1-line-height: 2.375rem;
    --text-2xl: clamp(1.8rem, 3.6vw + 0.75rem, 2.5rem);
    --text-2xl-line-height: clamp(2rem, 7.6vw - 0.5rem, 3rem);
    --text-3xl: clamp(2rem, 7.6vw - 0.5rem, 3rem);
    --text-3xl-line-height: 3.25rem;
    --text-4xl: clamp(2rem, 6.9vw - 0.25rem, 3.5rem);
    --text-4xl-line-height: clamp(2.7rem, 6.9vw - 0.25rem, 3.7rem);
    --text-5xl: 4rem;
    --text-5xl-line-height: 4.25rem;

    --font-weight-light: 200;
    --font-weight-semilight: 300;
    --font-weight-normal: 400;
    --font-weight-caption: 430;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-letterspacing-0: -0.05em;
    --font-letterspacing-1: 0.025em;
    --font-letterspacing-2: 0.05em;
    --font-letterspacing-3: 0.075em;
    --font-letterspacing-4: 0.15em;
    --font-letterspacing-5: 0.25em;
    --font-letterspacing-6: 0.5em;
    --font-letterspacing-7: 1em;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 /* FUTURE :heading */ {
        text-wrap: balance;
    }

    h2 + h3 {
        margin-block-start: 0;
    }

    h1 {
        font-size: var(--text-4xl);
        line-height: var(--text-4xl-line-height);
        font-weight: var(--font-weight-medium);
        margin-block-start: clamp(1.5rem, -2.4886rem + 17.7273vw, 11.25rem);
    }

    h2 {
        font-size: var(--text-lg);
        line-height: var(--text-lg-line-height);
        font-weight: var(--font-weight-medium);
        max-inline-size: var(--max-text-length);
    }

    h3 {
        font-size: var(--text-medium);
        line-height: var(--text-medium-line-height);
        font-weight: var(--font-weight-semibold);
        max-inline-size: var(--max-text-length);
    }

    p {
        font-size: var(--text-base);
        line-height: var(--text-base-line-height);
        font-weight: var(--font-weight-normal);
        max-inline-size: var(--max-text-length);
        text-wrap: pretty;
    }

    li,
    dd {
        font-size: var(--text-base);
        line-height: var(--text-base-line-height);
        font-weight: var(--font-weight-normal);
        text-wrap: pretty;
        max-inline-size: var(--max-text-length);
    }

    ul,
    ol,
    dl {
        margin: 0;
        padding: 0;
        list-style: inside;
        ul,
        ol,
        dl {
            padding-inline-start: 2ch;
        }
    }

    a {
        color: inherit;
        /*font-size: var(--text-base);*/
        text-decoration: underline 1px var(--text-soft);
        text-underline-offset: var(--size-1);
        -webkit-text-decoration: underline var(--brand-primary);
        -webkit-text-underline-offset: var(--size-1);
    }

    a:hover,
    a:focus {
        /*color: var(--brand-primary);*/
        text-decoration: underline 2px;
    }

    input,
    select,
    textarea,
    button {
        font: inherit;
        font-size: inherit;
        /* FUTURE: appearance: base; */
    }
}
